<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->

    <!--  -->

    <div class=" flex rounded-xl w-[60%] pt-[3%] m-auto">

      <div class="w-[80%] px-10">
        <div class="w-full pt-[3%] m-auto p-5 flex">

          <!--  -->
          <form class="hidden form-image" action="/post-image/<%= post._id%>" method="post"
            enctype="multipart/form-data">
            <input class="input-image" type="file" name="media">

          </form>
          <!--  -->
          <img class="preview-image mr-10 w-[20vh] h-[20vh] rounded-full object-cover" src="/images/<%= post.media%>"
            alt="">
          <div>
            <h1 class="  text-5xl font-extrabold text-red-400">
              <%= user.name%>

            </h1>
            <h2 class="mt-3 text-xl font-bold text-red-400">
              @<%= user.username %>
            </h2>
          </div>

        </div>
        <h1 class=" rounded-xl  text-2xl font-extrabold text-red-400">
          Update Post
        </h1>
        <form action="/update-post/<%= post._id%>" class=" mt-[3%] text-center" method="post">

          <input class="w-[100%] mb-10  border border-zinc-500 p-3 rounded-md text-xl " type="text" placeholder="title"
            value="<%= post.title%>" name="title">
          <br>

          <button
            class="mt-5 text-center block w-[100%] m-auto hover:bg-red-600 rounded text-white py-3 px-5 bg-red-400">Update
            Post Details</button>
        </form>
      </div>


      <!--  -->

      <script>
        const inputimage = document.querySelector(".input-image");
        const previewimage = document.querySelector(".preview-image")
        const formimage = document.querySelector(".form-image")
        previewimage.addEventListener("click", function () {
          inputimage.click()
        })

        inputimage.addEventListener("change", function () {
          formimage.submit()
        })
      </script>

      <%- include('partials/footer')%>