<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->

    <!--  -->



    <div class=" flex rounded-xl w-[60%] pt-[3%] m-auto">






      <div class="w-[80%] px-10">
        <div class="w-full pt-[3%] m-auto p-5 flex">

          <!--  -->
          <form class="hidden form-image" action="/image/<%= user._id%>" method="post">
            <input class="input-image" type="file" name="profilepic">

          </form>
          <!--  -->
          <img class="preview-image mr-10 w-[20vh] h-[20vh] rounded-full object-cover" src="<%= user.profilepic%>"
            alt="">
          <div>
            <h1 class="  text-5xl font-extrabold text-red-400">
              <%= user.name%>

            </h1>
            <h2 class="mt-3 text-xl font-bold text-red-400">
              @<%= user.username %>
            </h2>
          </div>

        </div>
        <h1 class=" rounded-xl  text-2xl font-extrabold text-red-400">
          Profile Setting
        </h1>
        <form action="/update-user/<%= user._id%>" class=" mt-[3%] text-center" method="post">
          <input class="w-[100%] mb-10  border border-zinc-500 p-3 rounded-md text-xl " type="text"
            placeholder="full name" value="<%= user.name%>" name="name">
          <br>
          <input class="w-[100%] mb-10  border border-zinc-500 p-3 rounded-md text-xl " type="text"
            placeholder="username" value="<%= user.username%>" name="username">
          <br>
          <input class="w-[100%] mb-10  border border-zinc-500 p-3 rounded-md text-xl " type="email"
            placeholder="email@servive.provider" name="email" value="<%= user.email%>">
          <br>

          <button
            class="mt-5 text-center block w-[100%] m-auto hover:bg-red-600 rounded text-white py-3 px-5 bg-red-400">Update
            User Details</button>
        </form>
      </div>

      <div class="w-[20%]">
        <h1 class="rounded-xl text-2xl font-extrabold text-red-400">
          Profile Setting
        </h1>

        <div class=" flex flex-col justify-between mt-5 h-full ">
          <div class="flex flex-col">
            <a class="text-red-400 mb-3 font-semibold" href="/reset-password/<%= user._id%>">Reset Password</a>
            <a class="text-red-400 mb-3 font-semibold" href="/delete-user/<%= user._id%>">Delete Profile</a>

          </div>
          <a class="text-red-400 mb-3 font-semibold" href="/logout-user/<%= user._id%>">Logout</a>
        </div>
      </div>

    </div>
    <!--  -->

    <script>
      const inputimage = document.querySelector(".input-image");
      const previewimage = document.querySelector(".preview-image")
      const formimage = document.querySelector(".form-image")
      previewimage.addEventListener("click", function () {
        inputimage.click()
      })

      inputimage.addEventListener("change", function () {
        formimage.submit()
      })
    </script>

    <%- include('partials/footer')%>